body {
    background: linear-gradient(161deg, rgba(21,10,218,0.6516981792717087) 7%, rgba(217,226,79,0.6516981792717087) 53%, rgba(255,0,0,0.5872724089635855) 100%);
    font-family: Pokemon, sans-serif;
}

#title-wrap{
    display: grid;
    margin: 0 auto;
    position: relative;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.headers {
    display: grid;
    color: black;
    letter-spacing: 5px;
    font-size: 30px;
    text-align: center;
}

.logo{
    width: 40vw;
    display: block;
    margin: 0 auto;
}

#wrapper{

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 3px;
    grid-gap: 5%;
    width: fit-content;
    margin: 0 auto;
    padding-top: 10vh;
    padding-bottom: 10vh;
    justify-items: center;

}
.pokeCards{
    display: grid;
    border: 2px solid green;
    height: 150px;
    width: 100px;
    cursor: pointer;
    border-radius: 15px;
}
/*Grayscale filters*/
.pokeCards {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
.pokeCards:hover{
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#restart{
    cursor: pointer;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
}
#restart:hover{
    background-color:#4095c6;
}

@media (max-width: 600px){
    #wrapper{
        grid-template-columns: repeat(2, auto);
        padding-bottom: 20px;
    }
}